# Игнорируем файл в любой директории проекта
access.log

# Игнорируем директорию в любой директории проекта
node_modules/

# Игнорируем каталог в корне рабочей директории
/.git/

##########
/.git/
/__pycache__/
/v9_UPLOADS_DIR/
___v7core.py
